<div class="simple_menu">
    <ul>
      <li><%= link_to t(:send_message), "#" %></li>
      <% unless @auction.status == Auction::SOLD %>
        <li><%= link_to t(:cancel_auction), "#" %></li>
      <% end %>
    </ul>
</div>
