<table id="all_auctions">
  <tr>
    <td class="main">
      <span><%=t(my_auctions)%></span>
    </td>
  </tr>
  <% @auctions.each do |auction| %>
      <tr>
        <td><%= link_to t(:details), "/store_auctions/" + auction.id.to_s %></td>
        <td><%= t(:current_price, :price=>auction.current_price) %></td>
        <td><%= Product.find(auction.product_id).name %></td>
      </tr>
  <% end %>
</table>
