<table id="all_auctions">
  <tr>
    <td class="main">
      <span>רשימת תהליכים שלי</span>
    </td>
  </tr>
  <% @auctions.each do |auction| %>
      <tr>
        <td><%= link_to "פרטים", "/store_auctions/" + auction.id.to_s %></td>
        <td>מחיר נוכחי <%= auction.current_price %></td>
        <td><%= Product.find(auction.product_id).name %></td>
      </tr>
  <% end %>
</table>