<tr>
  <td>
    <table>
      <tr>
        <td><%= store.name %></td>
        <td>שם החנות</td>
      </tr>
      <tr>
        <td><%= store.url %></td>
        <td>אתר החנות</td>
      </tr>
      <tr>
        <td>
          <%= link_to "הסר חנות", store, :method => :delete, :confirm => "?אתה בטוח", :title => store.name %>
        </td>
      </tr>
    </table>
  </td>
</tr>