<div id="store_menu">
    <ul>
      <li><%= link_to "עידכון פרטים", edit_store_path %></li>
      <li><%= link_to "ניהול מוצרים", "#" %></li>
      <li><%= link_to "ניהול מוכרים", "#" %></li>
      <li><%= link_to "דוחות", "#" %></li>
    </ul>
</div>