<div id="store_menu">
    <ul>
      <li><%= link_to t(:edit), edit_store_path %></li>
      <li><%= link_to t(:manage_products), products_path %></li>
      <li><%= link_to t(:manage_clerks), "#" %></li>
      <li><%= link_to t(:reports), "#" %></li>
    </ul>
</div>
