<div id="auction_menu">
  <ul>
    <li>
      <%= button_to get_toggle_link, {:action => "update", :status => get_toggle_status }, :method => :put %>
    </li>
    <li>
      <%= button_to "Delete Auction", { :action => "destroy" }, :confirm => "Are you sure?", :method => :delete %>
    </li>
  </ul>
</div>