<div class="simple_menu">
  <ul>
    <% unless @auction.in_processing? %>
    <li>
      <%= button_to( t(:buy) , {:action => "update", :status=>Auction::CHECKOUT  }, :method => :put) %>
    </li>
    <li>
      <%= button_to get_toggle_link, {:action => "update", :status => get_toggle_status }, :method => :put %>
    </li>
    <li>
      <%= button_to t(:cancel_auction), { :action => "destroy" }, :confirm => t(:are_you_sure), :method => :delete %>
    </li>
    <% end %>
  </ul>
</div>
