<tr>
  <td>
    <table>
      <tr>
        <td><%= Product.find(auction.product_id).name %></td>
        <td>מוצר</td>
      </tr>
      <tr>
        <td><%= @auction.current_price %></td>
        <td>מחיר נוחכי</td>
      </tr>
      <tr>
        <td>Store1</td>
        <td>רשימת חנויות בתהליך</td>
      </tr>
    </table>
  </td>
</tr>