<div id="new_auction_form">
<%= form_for(@auction) do |f| %>
    <div class="field">
      <%= f.label "מוצר" %><br />
      <%= f.text_field :product_id %>
    </div>
    <div class="actions">
      <%= f.submit "התחל מכירה" %>
    </div>
<% end %>
</div>
