<%= render "auction_menu" %>
<div id="auction_profile">
  <span><%= t(:auction_details) %></span>
  <% unless current_user.auctions.empty? %>
  <table>
    <%= render "auction" %>
  </table>
  <% end %>
</div>