<%= render "auction_menu" %>
<table id="auction_profile">
  <tr>
    <td class="main">
      <span>פרטי תהליך</span>
    </td>
  </tr>
  <% unless current_user.auctions.empty? %>
    <%= render @auction %>
  <% end %>
</table>