/* general */
body {
    /*background-image:url('/images/canvas.png');*/
}
a {
    color: #1C94C4;
}
.flash  {
    background-color: #F9EDBE;
    border: 1px solid #F0C36D;
    color: #333;
    font-size: 14px;
    text-align: center;
    text-indent: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
    width: 20%;
}

/* debug */
.debug_dump {
    float: left;
}

/* header */
#header li {
    list-style: none;
    display: inline;
}
#header li a {
    color: #f6a828;
}
.user_nav {
    background-color: #f6a828;
    width: 100%;
    border-radius: 5px;
}
.logo {
    padding-left: 20px;
    float: left;
}

/* user menu */
.user_menu {
    padding-right: 20px;
}

/* main menu configuration */
#user_nav .potato-menu-item {
    width:160px;
    font-size:16px;
    margin-left: 20px;
}
#user_nav .potato-menu-item a {
    padding:5px 20px 5px 12px;
    color: #ffffff;
}
#user_nav .potato-menu-hover a {
    color: #f6a828;
}
#user_nav .potato-menu-hover {
    background-color: #fdf5ce;
}
#user_nav .potato-menu-group .potato-menu-item {
    background-color: #f6a828;
}
#user_nav .potato-menu-group .potato-menu-item a {
    color: #ffffff;
}


/* footer configuration */
#footer_nav {
    float: left;
    margin-top: 50px;
    margin-left: 20%;
}
#footer_nav li.potato-menu-item {
    width:140px;
    font-size:14px;
}
#footer_nav li.potato-menu-item a {
    padding:5px 20px 5px 12px;
    color: #838383;
}

/* search */
.search .ui-form {
    width:50%;
    margin:0 auto;
}
.search .ui-form .ui-widget-content {
    background: none;
    border: none;
}
.search input {
    width: 300px;
    height: 34px;
}
.search .ui-button {
    width: 100px;
    height: 40px;
}

/* friend invite */
.invite .ui-form {
    width:500px;
    margin-top: 20px;
}
.invite .ui-form .ui-button {
    height: 50px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.invite .ui-form .friend_email {
    width: 330px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* login/register forms */
.devise .ui-form {
    width:500px;
    margin:0 auto;
    padding-top: 50px;
}
.devise .ui-form .ui-widget-header h3 {
    margin:10px 0 10px 20px;
}
.devise .ui-form .ui-widget-content {
    font-family: arial, helvetica, clean, sans-serif;
    padding:10px 20px 5px 20px;
    font-size:14px;
}
.devise .ui-form label {
    float:left;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px;
    width:30px;
    text-align: left;
}
.devise .ui-form .hints {
    font-size:13px;
}
.devise .ui-button {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.devise .ui-form .fb_connect {
    display: block;
    font-size: 16px;
    color: #51638C;
    text-shadow: white 0 1px 0;
}

/* main page - categories */
.categories {
    padding-left: 20px;
    width: 20%;
    list-style: none;
    float: left;
}
.categories li {
    list-style: none;
}

/* how it works */
.how_works img {
    float: left;
    width: 260px;
    height: 400px;
    padding:10px 10px 10px 10px;
    border:1px solid #fbcb09;
    border-radius: 5px;
    margin-left: 10px;
}

/* filters in search */
.filter {
    margin-left: 30px;
    margin-top: 20px;
}
.active_filter {
    width: 90%;
}
.active_filter_item {
    border: solid 1px #999;
    border-radius: 5px;
    background-color: #f6a828;
    padding: 2px 8px;
    margin-bottom: 10px;
    font-size: 12px;
    float: left;
}
.active_filter_item a {
    padding-left: 5px;
}
.filter_sep {
    clear: left;
}
.available_filters {
    width: 80%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #FBCB09;
    border-radius: 5px;
}
.available_filter {
    float: left;
    padding-left: 20px;
}

/* search/product list */
.products_list_area {
    width: 90%;
    margin-top: 20px;
    margin-left: 30px;
}
.products_list_area .pagination {
    padding-left: 20%;
}
.products_list_area .product_title {
    margin-top: 20px;
    padding-left: 5%;
}
.product_thumbnail {
    float: left;
}
.products_list_area .product_info {
    margin: 10px 0 10px 0;
    padding-left: 20px;
    float: left;
}
.products_list_area .product_info .description {
    margin: 5px 0 10px 0;
    font: normal 12px arial;
    color: gray;
}
.products_list_area .product_item {
    border-bottom: solid 1px #FBCB09;
    line-height: 0;
    float: left;
    width: 80%;
}
.products_list_area .get_price {
    float: right;
    padding-top: 15px;
}
.clear_sep {
    clear: left;
}

/* product selection */
.product_detailed {
    width: 90%;
    margin-top: 20px;
    margin-left: 30px;
}
.product_detailed .product_info .description {
    padding-top: 10px;
    font: normal 12px arial;
    color: gray;
}
.product_detailed .product_info .title {
    color: #1C94C4;
}
.product_detailed .stores_display {
    float: left;
}
.product_detailed .stores_display .auction_store {
    border-bottom: solid 1px #FBCB09;
    line-height: 0;
    float: left;
    width: 60%;
}
.product_detailed .stores_display .start_auction {
    float: left;
    padding-top: 30px;
    padding-left: 200px;
}
.product_detailed .stores_display .title {
    color: #1C94C4;
    padding-left: 50px;
}
.product_detailed .stores_display .store_select {
    width: 50px;
}
.product_detailed .stores_display .store_review {
    padding-left: 30px;
    padding-bottom: 20px;
}
.product_detailed .stores_display .auction_store_review {
    font: normal 12px arial;
    color: gray;
    padding-top: 5px;
    padding-left: 70px;
}
.product_detailed .stores_display .final_price_title {
    font: normal 12px arial;
    color: gray;
    padding-left: 215px;
}
.product_detailed .stores_display .final_price {
    color: #FE4600;
    font-size: 18px;
    padding-left: 270px;
}

/* auctions list */
.auctions_list {
    width: 80%;
    margin-top: 20px;
    margin-left: 30px;
}
.auctions_list .title {
    color: #1C94C4;
    padding-left: 50px;
}
.auctions_list .auction_preview {
    width: 80%;
    border-bottom: solid 1px #FBCB09;
    line-height: 0;
    float: left;
    margin-bottom: 20px;
}
.auctions_list .auction_preview .product_title {
    float: left;
    color: #1C94C4;
    padding-top: 10px;
    padding-left: 30px;
}
.auctions_list .auction_preview .product_thumbnail {
    float: left;
    margin-top: 5px;
    padding-top: 5px;
}
.auctions_list .auction_preview .focus_info {
    color: grey;
    font-size: 18px;
    float: left;
    padding-top: 30px;
    padding-left: 40px;
}
.info_highlight {
    color: #FE4600;
}
.auctions_list .auction_preview .details_button {
    float: right;
    margin-top: 40px;
}

/* auction details */
.auction_details {
    width: 70%;
    margin-top: 20px;
    margin-left: 30px;
}
.auction_details .product_title {
    float: left;
    color: #1C94C4;
    padding-top: 10px;
    padding-left: 30px;
}
.auction_details .product_thumbnail {
    float: left;
    padding-top: 5px;
}
.auction_details .focus_info {
    color: grey;
    font-size: 18px;
    float: left;
    padding-left: 60px;
}
.auction_details .stores_in_auction {
    border-top: solid 1px #FBCB09;
}
.auction_details .control {
    margin-right: 50px;
}
.auction_details .control .ui-button {
    height: 50px;
    width: 50px;
    float: right;
    margin-top: 40px;
    margin-right: 5px;
}
.auction_details .checkout {
    float: right;
    margin-right: 50px;
    padding-bottom: 20px;
}
.auction_details .checkout .ui-button {
    float: right;
    height: 20px;
    width: 80px;
    padding-bottom: 20px;
}
.auction_details .auction_store {
    border-bottom: solid 1px #FBCB09;
    line-height: 0;
    float: left;
    width: 100%;
}
.auction_details .title {
    color: #1C94C4;
    padding-left: 50px;
    padding-top: 20px;
}
.auction_details .store_review {
    padding-left: 30px;
    padding-bottom: 20px;
}
.auction_details .final_price_title {
    font: normal 12px arial;
    color: gray;
    padding-left: 215px;
}
.auction_details .final_price {
    color: #FE4600;
    font-size: 18px;
    padding-left: 270px;
}
.auction_details .store_thumbnail {
    float: left;
}
.auction_details .store_message {
    float: left;
    margin-left: 60px;
    margin-top: 15px;
}

/* Checkout */
.checkout_form {
    float: left;
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;
}
.checkout_form .ui-widget-header {
    padding-left: 40%;
}
.checkout_form .content {
    padding-top: 25px;
    padding-left: 20%;
    color: grey;
    font-size: 18px;
}
.checkout_form .ui-button {
    margin-top: 20px;
    margin-left: 10px;
}

/* Store management show */
.store_details {
    margin-left: 50px;
    float: left;
}
.store_details .title {
    color: #1C94C4;
}
.store_details .store_summary {
    margin-top: 20px;
    font-size: 18px;
}
.store_details .edit_details {
    margin-top: 20px;
}

/* Store management edit */
.edit_store_details .ui-form {
    width:800px;
    margin-top: 20px;
}
.edit_store_details .ui-form .ui-button {
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit_store_details label {
    width: 100px;
    margin-right: 5px;
    margin-left: 30px;
    text-align: right;
    float: left;
}
.edit_store_details .edit_row {
    margin-top: 10px;
}

/* Stores list */
.stores_list {
    width: 40%;
    margin-left: 50px;
    float: left;
}
.stores_list .title {
    color: #1C94C4;
    padding-bottom: 20px;
}
.stores_list .store_link {
    font-size: 12px;
}
.stores_list .store_list_item {
    border-bottom: solid 1px #FBCB09;
    line-height: 0;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.stores_list .store_list_item .name {
    margin-top: 40px;
    margin-left: 20px;
}
.stores_list .store_list_item .store_link {
    margin-left: 80%;
    margin-bottom: 10px;
}
.stores_list .create_new_store {
    margin-left: 40px;
}

/* Products list */
.products_list {
    width: 40%;
    margin-left: 50px;
    float: left;
}
.products_list .title {
    color: #1C94C4;
    padding-bottom: 20px;
}
.products_list .product_link {
    font-size: 12px;
}
.products_list .product_list_item {
    border-bottom: solid 1px #FBCB09;
    line-height: 0;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.products_list .product_list_item .name {
    margin-top: 40px;
    margin-left: 20px;
}
.products_list .product_list_item .product_link {
    margin-left: 80%;
    margin-bottom: 10px;
}
.products_list .create_new_product {
    margin-top: 10px;
    margin-left: 40px;
}

/* Products management show */
.product_details {
    margin-left: 50px;
    float: left;
}
.product_details .title {
    color: #1C94C4;
}
.product_details .product_summary {
    margin-top: 20px;
    font-size: 18px;
}
.product_details .edit_details {
    margin-top: 20px;
}

/* Product management edit */
.edit_product_details .ui-form {
    width:800px;
    margin-top: 20px;
}
.edit_product_details .ui-form .ui-button {
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit_product_details label {
    width: 100px;
    margin-right: 5px;
    margin-left: 30px;
    text-align: right;
    float: left;
}
.edit_product_details select {
    width: 260px;
}
.edit_product_details .edit_row {
    margin-top: 10px;
}