<div class="quick_search">
  <!--<input type="image" src="images/search.jpeg" value="חפש" id="search_button">-->
  <input type="button" id="search_button" value="חפש">
  <input type="text" class="bold_input" placeholder="אני רוצה לקנות" id="search_input">
</div>
