<div align="center" class="invite">
  <div class="devise ui-widget ui-form">
    <div class="ui-widget-header ui-corner-all">
      <h3>Send friend invite</h3>
    </div>
    <div class="ui-widget-content">
      <%= form_tag :controller => 'pages', :action => 'invite_friends' do %>
          <%= text_field_tag(:email, nil, :placeholder => t(:friend_email), :class => "friend_email" ) %>
          <%= text_area_tag(:message, t(:personal_message), :size => "40x10" ) %><br/>
          <%= submit_tag(t(:send)) %>
      <% end %>
    </div>
  </div>
</div>

<script>
    $(function() {
        $( "input:submit", ".invite" ).button();
    });
</script>
