<!--This code should be implemented in 'new auction'-->


<div id="selected_stores">
	<ul>
		<% for store in @selected_stores do%>
			<li>
				<p> <%=store.name %></p>
			</li>
		<% end %>
	</ul>
	
</div>
