<div id="product_menu">
    <ul>
      <li><%= link_to "עידכון פרטים", edit_product_path %></li>
      <li><%= link_to "מחק מוצר", "#" %></li>
      <li><%= link_to "שכפל מוצר", "#" %></li>
    </ul>
</div>