<div class="simple_menu">
    <ul>
      <li><%= link_to t(:edit), edit_product_path %></li>
      <li><%= link_to t(:delete), @product, :method => :delete, :confirm => "Are you sure?"%></li>
      <li><%= link_to t(:copy), "#" %></li>
    </ul>
</div>
