<%= render "product_mng_menu" %>
<table class="simple_align">
  <tr>
    <td>
      <span><%=t(:products)%></span>
    </td>
  </tr>
  <tr>
    <td>
      <div class="simple_menu">
        <ul>
          <% for product in @products %>
            <li><%= link_to product.name, "/products/#{product.id}" %></li>
           <% end %>
        </ul>
      </div>

    </td>
  </tr>
  <tr>
    <td>
      <span><%= will_paginate @products %></span>
    </td>
  </tr>
</table>



