<div id="invite_friends_form">
    <span><%=t(:tell_a_friend)%></span><br/>
    
    <input type="text" placeholder="מייל של חבר"><br/>
    <textarea rows="20" cols="30" placeholder="הודעה אישית"></textarea><br/>
    <input type="submit" value="שלח">
</div>
