<div id="footer">
  <ul id="footer_nav">
    <li><%= link_to t(:contact_us,:scope=>:footer), root_path %></li>
    <li><%= link_to t(:terms, :scope=>:footer), root_path %></li>
    <li><%= link_to t(:about,:scope=>:footer), root_path %></li>
    <li><%= link_to t(:help), help_path %></li>
  </ul>
</div>
